In [1]:
import pandas as pd

In [5]:
# Reading in the datasets
df = pd.read_csv('demos_mirage.csv', index_col=0)
map_df = pd.read_csv('map_data.csv', index_col=0)

In [7]:
df.head()

,file,map,date,round,tick,seconds,att_team,vic_team,att_side,vic_side,...,vic_id,vic_rank,att_pos_x,att_pos_y,vic_pos_x,vic_pos_y,round_type,ct_eq_val,t_eq_val,avg_match_rank
0,003218553373129179487_1555113029.dem,de_mirage,09/28/2017 8:44:36 PM,1,7392,115.9530,Team 1,Team 2,CounterTerrorist,Terrorist,...,76561198370068230,16,-359.5016,389.7257,-468.7209,529.1569,PISTOL_ROUND,4250,4200,15.0
1,003218553373129179487_1555113029.dem,de_mirage,09/28/2017 8:44:36 PM,1,7394,115.9842,Team 2,Team 1,Terrorist,CounterTerrorist,...,76561198115686363,16,-650.1707,520.0313,-352.4009,392.1384,PISTOL_ROUND,4250,4200,15.0
2,003218553373129179487_1555113029.dem,de_mirage,09/28/2017 8:44:36 PM,1,7404,116.1405,Team 2,Team 1,Terrorist,CounterTerrorist,...,76561198115686363,16,-650.1707,520.0313,-335.1208,401.2988,PISTOL_ROUND,4250,4200,15.0
3,003218553373129179487_1555113029.dem,de_mirage,09/28/2017 8:44:36 PM,1,8154,127.8608,Team 1,Team 2,CounterTerrorist,Terrorist,...,76561198301910020,13,-2064.0290,793.1069,-1575.5010,685.9157,PISTOL_ROUND,4250,4200,15.0
4,003218553373129179487_1555113029.dem,de_mirage,09/28/2017 8:44:36 PM,1,8162,127.9858,Team 2,Team 1,Terrorist,CounterTerrorist,...,76561198152153688,16,-1090.8520,677.1235,-2063.8480,793.9529,PISTOL_ROUND,4250,4200,15.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267436 entries, 0 to 267435
Data columns (total 32 columns):
file               267436 non-null object
map                267436 non-null object
date               267436 non-null object
round              267436 non-null int64
tick               267436 non-null int64
seconds            267436 non-null float64
att_team           267436 non-null object
vic_team           267436 non-null object
att_side           267436 non-null object
vic_side           267436 non-null object
hp_dmg             267436 non-null int64
arm_dmg            267436 non-null int64
is_bomb_planted    267436 non-null bool
bomb_site          45420 non-null object
hitbox             267436 non-null object
wp                 267436 non-null object
wp_type            267436 non-null object
award              267436 non-null int64
winner_team        267436 non-null object
winner_side        267436 non-null object
att_id             267436 non-null int64
att_rank           267436 non-null int64
vic_id             267436 non-null int64
vic_rank           267436 non-null int64
att_pos_x          267436 non-null float64
att_pos_y          267436 non-null float64
vic_pos_x          267436 non-null float64
vic_pos_y          267436 non-null float64
round_type         267436 non-null object
ct_eq_val          267436 non-null int64
t_eq_val           267436 non-null int64
avg_match_rank     267436 non-null float64
dtypes: bool(1), float64(6), int64(11), object(14)
memory usage: 65.5+ MB

In [9]:
df['is_bomb_planted'].value_counts()

False    222016
True      45420
Name: is_bomb_planted, dtype: int64

In [10]:
df['bomb_site'].value_counts()

A    24259
B    21161
Name: bomb_site, dtype: int64

In [6]:
map_df.head()

            EndX  EndY  ResX  ResY  StartX  StartY
de_cache    3752  3187  1024  1024   -2031   -2240
de_cbble    2282  3032  1024  1024   -3819   -3073
de_dust2    2127  3455  1024  1024   -2486   -1150
de_inferno  2797  3800  1024  1024   -1960   -1062
de_mirage   1912  1682  1024  1024   -3217   -3401